[Unit]
Description=Hourly Hyperspace PostgreSQL history archive

[Timer]
OnCalendar=hourly
RandomizedDelaySec=10m
AccuracySec=1m
Persistent=true
Unit=hyperspace-db-history-archive.service

[Install]
WantedBy=timers.target
