[Unit]
Description=Run Hyperspace gate disk janitor periodically

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=10s
RandomizedDelaySec=10s
Persistent=true
Unit=hyperspace-disk-janitor.service

[Install]
WantedBy=timers.target
