[Unit]
Description=Refresh Prometheus gate discovery

[Timer]
OnBootSec=15s
OnUnitActiveSec=1min
AccuracySec=10s
RandomizedDelaySec=10s
Persistent=true
Unit=hyperspace-gate-discovery.service

[Install]
WantedBy=timers.target
