{
  email gatekeepers@hyperspace.zone
}

app.testnet.hyperspace.zone {
  root * /var/www/hyperspace-web

  handle /api/* {
    uri strip_prefix /api
    reverse_proxy https://control-plane.testnet.hyperspace.zone {
      header_up Host control-plane.testnet.hyperspace.zone
    }
  }

  handle {
    header Cache-Control "no-store, max-age=0"
    try_files {path} /index.html
    file_server
  }
}
